@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    font-family: "Quicksand";
    background-color: #040404;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    margin: clamp(70px, 5vw, 5vw) 0 1vw 0;
    font-size: 40px;
    font-weight: 500;
}

h3 {
    margin: 5vw 0 1vw 7vw;
    font-size: 35px;
    font-weight: 500;
}

h4 {
    margin: 0 0 0 7vw;
    font-size: 25px;
    font-weight: 500;
}

p {
    margin: 0 0 0 7vw;
    font-size: 25px;
    width: 80vw;
}

ul {
    font-size: 20px;
    margin: 0 5vw 0 6vw;
}

li {
    margin-bottom: 7px;
}

/* navigation: */

#navigation {
   position: absolute;
   display: flex;
   font-weight: 700;
   top: 10px;
   width: calc(97vw - 65px);
   height: 40px;
   flex-direction: row-reverse;
   align-items: center;
   gap: 3vw;
   z-index: 2;
}

#navigation a {
   color: white;
}

#navigation-btn {
    padding-top: 5px;
    position: absolute;
    top: 10px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    z-index: 2;
}

#navigation-btn img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

/* index: */

#index {
    background-image: url("mobily.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#name-title {
    color: white; 
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin: 0;
    padding: 10px 20px 10px 20px;
    font-size: 40px;
    font-weight: 500;
}   


/* about me: */

#contact {
    display: flex;
    margin: clamp(70px, 5vw, 5vw) 0 0 7vw;
    gap: 20px;
    flex-wrap: wrap;
}

#contact img {
    height: 200px;
    width: 150px;
    object-fit: cover;
}

#contact h3 {
    margin: 0;
}

#contact h4 {
    margin: 0;
}

#contact a {
    text-decoration: underline;
}

/* angry: */

#angry h2, #offer h2 {
    margin-left: 7vw;
}

#angry p i {
    font-weight: 600;
}

#angry-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 7vw;
}

#angry-imgs img:nth-child(1) {
    width: clamp(150px, 20vw, 20vw);
    height: clamp(150px, 20vw, 20vw);
    object-fit: cover;
}

#angry-imgs img:nth-child(2), #angry-imgs img:nth-child(3) {
    width: clamp(220px, 30vw, 30vw);
    height: clamp(150px, 20vw, 20vw);
    object-fit: cover;
}

/* films: */

#films {
    display: flex;
    flex-direction: column;
}

#films h2, #audio h2 {
    text-align: center;
}


/* cards: */

.cards {
    margin: 5vw 7vw 0 7vw;
    display: flex;
    justify-content: center;
    gap: 3vw;
    flex-wrap: wrap;
}

.cards div {
    width: 300px;
    height: 200px;
}

.cards div img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.cards div p {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    text-align: center;
    width: 100%;    
}

/* phone */

@media (max-width: 665px) {
    #name-title {
        left: 10px;
        bottom: 20vh;
    }

    #navigation {
        flex-direction: column;
        align-items: flex-end;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding-top: 70px;
        gap: 30px;
        font-size: 25px;
        font-weight: 500;
        background-color: #e3c7ba;
    }

    #navigation a {
        margin-right: 30px;
        margin-left: 30px;
        text-align: right;
    }
}
